%% -*- mode: erlang -*-
%% See https://github.com/erlang/otp/blob/maint/lib/reltool/src/reltool.hrl
%% for default filters when using profile embedded

%% release types: Type | Release Name | Node Name | Setup Module
%% default_nodes: Default set of node types
%% setup_config: Release Name | Setup Application | Setup Module
{builderl,
 [
  {default_repo_base, "https://github.com/yoonka"},
  {env_repo_base, "GITURLBASE"},
  {boot_version, "ex-1.0.0"},
  {setup_config, {"cmd", deploy, cmd_config}},
  {release_types, [{ex, "example_rel", "example_node", node_config, 0}]},
  {default_nodes, ["ex"]}
  %% {config_files,
  %%  ["example1.config.src","example2.config.src"]}
  %% {default_nodes, ["ex-1", "ex-2", "ex-3", "ex-4"]},
  %% {default_joins,
  %%  [{join, [{ex, "1"}, {ex, "2"}]}, {join, [{ex, "3"}, {ex, "4"}]}]}
 ]
}.

{config,
 {sys,
  [{lib_dirs, ["lib", "deps"]},
   {incl_cond, exclude},
   {excl_archive_filters, [".*"]},

   {app, kernel,          [{incl_cond, include}]},
   {app, stdlib,          [{incl_cond, include}]},
   {app, sasl,            [{incl_cond, include}]},
   {app, inets,           [{incl_cond, include}]},
   {app, deploy,          [{incl_cond, include}]},
   {app, mnesia,          [{incl_cond, include}]},
   {app, migresia,        [{incl_cond, include}]},
   {app, builderl,        [{incl_cond, include}]},

   {rel, "cmd", "ex-1.0.0",
    [kernel,
     stdlib,
     sasl,
     inets,
     deploy,
     {mnesia,             load},
     {migresia,           load}
    ]},

   {boot_rel, "cmd"},
   {profile, embedded}
  ]}
}.

{config,
 {sys,
  [{lib_dirs, ["lib", "deps"]},
   {incl_cond, exclude},
   {excl_archive_filters, [".*"]},

   {app, kernel,          [{incl_cond, include}]},
   {app, stdlib,          [{incl_cond, include}]},
   {app, sasl,            [{incl_cond, include}]},
   {app, inets,           [{incl_cond, include}]},
   {app, mnesia,          [{incl_cond, include}]},
   {app, migresia,        [{incl_cond, include}]},

   {rel, "ex_rel", "ex-1.0.0",
    [kernel,
     stdlib,
     sasl,
     inets,
     mnesia,
     {migresia,           temporary}
    ]},

   {boot_rel, "ex_rel"},
   {profile, embedded}
  ]}
}.
